{# templates/home.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        <h1>{{ page_title }}</h1>

        <ul id="navigation">
            {% for product in products %}
                <li><a href="{{ product.id }}">{{ product.name }}</a></li>
            {% endfor %}
        </ul>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>