<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('home') }}">{% trans %}Home{% endtrans %}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('cart') }}">{% trans %}Cart{% endtrans %}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/emptycart/{{currentpage}}/{{app.request.getlocale}}">{% trans %}Empty cart{% endtrans %}</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
		    <li class="nav-item">
				<a class="nav-link" href="{{ app.request.getlocale!='en' ? path('changelocale',{'locale':'en'}) : ''}}">EN</a>
		    </li>
		    <li class="nav-item">
				<a class="nav-link" href="{{ app.request.getlocale!='fr' ? path('changelocale',{'locale':'fr'}) : '' }}">FR</a>
		    </li>
		</ul>
	</div>
</nav>
<div class="center-block text-center">
    <h1>{% trans %}Shopping cheese{% endtrans %}</h1>
    <p class="lead">{% trans %}Cheeses for everyone{% endtrans %}</p>
    <p>{% trans %}Number of product in cart{% endtrans %} : {{cart.getNbProducts}}</p>
</div>